#linkList a:link {
    width: 100px;
    height: 18px;
    padding: 10px;
    border: solid 1px;
    background-color: limegreen;
    color: white;
    text-align: left;
    display: inline-block;
    margin-left: 1px;
}

#linkList a:hover {
    background: blue;
}

#tagForPaste {
    border: 2px red;
    padding: 10px;
    position: absolute;
    left: 250px;
    top: 100px;
    text-align: left;
}